# exclude some files.
slide.exe
slide.pdb
.idea/*
Debug/*
slide.ilk
cmake-build-debug/*
.vscode/*
*.pdb
out/*
.vs/*
.editorconfig
Release/*
Debug/*
*.ilk
cmake-build-release/*
cmake-build-debug/*
cmake-build-relwithdebinfo/*
build/*
bin/*
*.pyc
*.asv